[Unit]
Description=Back up PostgreSQL databases, roles and config files
Wants=autofs.service
After=postgresql.service autofs.service

[Service]
Type=oneshot
User=postgres
ExecStart=/usr/local/bin/pg-backup.sh /mnt/db2/backup/pgsql
